test-form-pdfs/**/*.pdf filter=lfs diff=lfs merge=lfs -text
test-form-images/*.jpg filter=lfs diff=lfs merge=lfs -text
test-form-images/*.jpeg filter=lfs diff=lfs merge=lfs -text
test-csvs/*.zip filter=lfs diff=lfs merge=lfs -text
test-form-images/*.zip filter=lfs diff=lfs merge=lfs -text
